<h1>Recent QR Code Scans</h1>

<%= link_to 'New Scan', new_qr_code_path, class: 'button' %>

<p><strong>20 most recent scans:</strong></p>
<ul class="scan-list">
  <% if @qr_codes.present? %>
    <% @qr_codes.each.with_index(1) do |qr_code, index| %>
      <li class="scan-list__item"><%= "Scan #{index}: " %><%= link_to qr_code.data, qr_code_path(qr_code) %></li>
    <% end %>
  <% else %>
    <p>There are no scans yet!</p>
  <% end %>
</ul>
