<h1>QR Code Reader on Rails with Zxing-js</h1>

<ul>
  <li><%= link_to 'Basic QR Code Reader', basic_qr_code_reader_path %></li>
  <li><%= link_to 'QR Code Reader connected to a Rails controller and model', qr_codes_path %></li>
</ul>