<h1>QR Code Reader Demo</h1>

<h2>QR Code Reader on Rails</h2>

<div>
  <video id="video" width="500" height="400" style="border: 1px solid gray"></video>
</div>

<%= javascript_pack_tag("rails-qr-code-reader") %>
