<h1>QR Code Reader Demo</h1>

<div>
  <video id="video" width="500" height="400" style="border: 1px solid gray"></video>
</div>

<div class='result'>
  <label class='result__label'>Result:</label>
  <pre class='result__code'><code id="result"></code></pre>
</div>

<%= javascript_pack_tag("basic-qr-code-reader") %>
